<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven/>

    <bean id="springController" class="beans.SpringController">
        <property name="simpleBean" ref="simpleBean"/>
    </bean>

    <bean id ="simpleBean" class="beans.SimpleBean">
        <property name="simpleBean2" ref="simpleBean2"/>
        <property name="simpleBean3" ref="simpleBean3"/>
    </bean>
    <bean id ="simpleBean3" class="beans.SimpleBean3"/>
    <bean id ="simpleBean2" class="beans.SimpleBean2">
        <property name="simpleBean3" ref="simpleBean3"/>
    </bean>

</beans>
